# /node_modules - ignors all file in dir
/node_modules 
index4.html
index5.html
index10.html
browser-app.js
edit-task.js
task.html
test.html
# /myFolder/file1.js - ignors a particular file in a dir
.env

