.submit-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 3px; */
    border-radius: 10px;
    background-color: red;
}

.submit-button{
   width: 80px;
   height: 40px;
   background-color: #0dcaf0;; 
   text-align: center;
   padding-top: 6px;
   font-weight: 700;
   color: azure;
   margin-bottom: 8px;
   border-radius: 5px;
   cursor: pointer;
}

.submit-button:hover{
    background-color:#D6EAF8;
}

